button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 18px;
}

p {
  font-size: 20px;
  font-weight: bold;
}

input {
  margin: 5px;
  padding: 10px;
  font-size: 18px;
  width: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}
